/* URxvt.perl-ext-common: default,clipboard */
URxvt.iso14755: False
/* URxvt.keysym.Shift-Control-C: perl:clipboard:copy */
/* URxvt.keysym.Shift-Control-V: perl:clipboard:paste */

/* Appearance */
urxvt.termName: rxvt-unicode-256color
urxvt.scrollBar: false
!!base16 googledark
!!urxvt.background: #1D1F21
!!base16-ocean
urxvt.background: #2b303b
urxvt.foreground: #E8FFFD

urxvt.font: xft:Hack:size=12
urxvt.boldFont: xft:Hack:size=12:weight=bold
/* urxvt.font: xft:Liberation Mono:size=12 */
/* urxvt.boldFont: xft:Liberation Mono:size=12:weight=bold */
/* urxvt.letterSpace: -1 */

Xft.dpi:        96
Xft.antialias:  1
Xft.autohint:   1
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcdlight
Xft.rgba:       rgb

rofi.color-enabled: true
rofi.color-window: #2b303b, #343D46, #343d46
/* rofi.color-window: #2b303b, #002b36, #343d46 */
rofi.color-normal: #2b303b, #c0c5ce, #2b303b, #4f5b66, #dfe1e8
rofi.color-active: #2b303b, #8fa1b3, #2b303b, #8fa1b3, #343d46
rofi.color-urgent: #2b303b, #bf616a, #2b303b, #bf616a, #dfe1e8
