*, * * {
    font-family: termsyn !important;
}
body {
    background : #181D20;
}

.keepcentered {
    position : absolute;
    left : 50%;
    top : 50%;
    width : 480px;
    height : 300px;
    margin-left : -240px;
    margin-top : -150px;
    font-weight : 100;
}
body {
    font-style : normal;
    color : #1F4866;
    margin : 5px;
}
td, tr {
    width: 25%;
    text-align: center;
    font-size: 14px;
}
a {
    font-weight: 300;
    color: #3E4854;
}
a:hover{
    color: #67778C;
}
a:link {
    text-decoration : none;
}
form {
    position : absolute;
    left : 26%;
    top : 50%;
    width : 240px;
    height : 30px;
    margin-left : -120px;
    margin-top : 100px;
    font-weight : 100;
}
input {
    background: #14171A;
    color: #3E4854;
    border: 2px solid #1F4866;
    border-radius: 4px;
    padding: 0 4px;
}
#col {
    font-weight: bold;
}
